/* Fonts */
h1,
h2,
h3,
h4 {
    font-family: 'Nova Square', cursive;
}

* {
    font-family: 'Rajdhani', sans-serif;
}

:root {
    --main: rgb(139, 0, 0);
    --sec: rgb(198, 127, 127);
    --acc: rgb(236, 236, 236);
}

/* Main Color */
.text-main {
    color: var(--main);
}

.bg-main {
    background-color: var(--main);
}

.border-main {
    border: 2px solid var(--main);
}

/* Secondary Color */
.text-sec {
    color: var(--sec);
}

.bg-sec {
    background-color: var(--sec);
}

.border-sec {
    border: 2px solid var(--sec);
}

/* Accessory Color */
.text-acc {
    color: var(--acc);
}

.bg-acc {
    background-color: var(--acc);
}

.border-acc {
    border: 2px solid var(--acc);
}

/* Header */

h1 {
    letter-spacing: 30px;
}

.Header_bg-gradient {
    background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(198, 127, 127, 0)), url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.header_dim {
    height: 90vh;
    position: relative;
}

.header-img {
    position: absolute;
    height: 90%;
    left: 0px;
    bottom: 0px;

}

/* Navbar */

.navbar-bg {
    background-color: white;
    height: 10vh;
}

.navbar-img {
    height: 50px;
}

nav li {
    list-style: none;
    margin-inline: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Section 1 */

.Sec1_background {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(236, 236, 236, 1));
}

.sec1-img,
.sec2-img {
    position: absolute;
    bottom: 0px;
    padding: 0px;
}

/* Quote */

sub,
sup {
    font-size: 200%;
    font-style: italic;
    font-weight: 600;
    color: var(--main);
    position: relative;
}

sup {
    top: 10px;
    right: 7px;
}

sub {
    top: 20px;
}

/* Icons */

.bb-icons {
    border-bottom: 3px solid var(--main);
    position: relative;
}

.bb-icons::after {
    position: absolute;
    right: 45%;
    bottom: -12px;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--main);
}

/* Buttons */

.C_button {
    padding: 7px 35px;
    border: none;
    margin-top: 140px;
    margin-bottom: 330px;
}

/* Sezione 2 */
/* Timeline */

.timeline-box {
    border-left: 3px solid var(--main);
}

.timeline {
    position: relative;
    margin-left: 15px;
}

.timeline::before {
    position: absolute;
    left: -4.5%;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--main);
}

/* Sectopm 2 */
.Sec2_background{
    background-color: var(--acc);
}

.C_Sec2_margin{
    margin-top: 100px;
    margin-left: 50px;
}

.C_our_team_img{
    height: 200px;
    width: 200px;
    border: 3px solid var(--main);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Media Query */

/* Sec1_IMG */
@media screen and (max-width: 1200px) {
    .C_button {
        margin-top: 90px;
        margin-bottom: 150px;
    }
}