/* Fonts */
h1,
h2,
h3,
h4 {
    font-family: 'Nova Square', cursive;
}

* {
    font-family: 'Rajdhani', sans-serif;
}

:root {
    --main: rgb(139, 0, 0);
    --sec: rgb(198, 127, 127);
    --acc: rgb(236, 236, 236);
}

/* Main Color */
.text-main {
    color: var(--main);
}

.bg-main {
    background-color: var(--main);
}

.border-main {
    border: 2px solid var(--main);
}

/* Secondary Color */
.text-sec {
    color: var(--sec);
}

.bg-sec {
    background-color: var(--sec);
}

.border-sec {
    border: 2px solid var(--sec);
}

/* Accessory Color */
.text-acc {
    color: var(--acc);
}

.bg-acc {
    background-color: var(--acc);
}

.border-acc {
    border: 2px solid var(--acc);
}

/* Header */

.C_Header_Title {
    letter-spacing: 50px;
}

.Header_bg-gradient {
    background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(198, 127, 127, 0)), url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.header_dim {
    height: 80vh;
    position: relative;
}

.header-img {
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0px;
}

/* Navbar */

.navbar-bg {
    background-color: white;
}

.navbar-img {
    height: 50px;
}

nav li {
    list-style: none;
    margin-inline: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Section 1 */

.Sec1_background {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(236, 236, 236, 1));
}

.sec1-img,
.sec2-img {
    position: absolute;
    bottom: 0px;
    padding: 0px;
}

/* Quote */

sub,
sup {
    font-size: 200%;
    font-style: italic;
    font-weight: 600;
    color: var(--main);
    position: relative;
}

sup {
    top: 10px;
    right: 7px;
}

sub {
    top: 20px;
}

/* Icons */

.bb-icons {
    border-bottom: 3px solid var(--main);
    position: relative;
}

.bb-icons::after {
    position: absolute;
    right: 45%;
    bottom: -12px;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--main);
}

/* Buttons */

.C_button {
    padding: 7px 35px;
    border: none;
    margin-top: 140px;
    margin-bottom: 330px;
}

/* Section 2 */
/* Timeline */

.C_Timeline_bg {
    background-image: url(./media/single.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.timeline-box {
    border-left: 3px solid var(--main);
}

.timeline {
    position: relative;
    padding-left: 15px;
}

.timeline::before {
    position: absolute;
    left: -12px;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--main);
}

/* Section 3 */
.Sec2_background {
    background-color: var(--acc);
}

.C_Sec2_margin {
    margin-top: 100px;
    padding-left: 50px;
}

.C_our_team_img {
    height: 200px;
    width: 200px;
    border: 3px solid var(--main);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.C_our_benefit_img {
    height: 400px;
    width: 400px;
    border: 3px solid var(--main);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Footer */

.footer-img {
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

/* Media Query */

/* Sec1_IMG */
@media screen and (max-width: 390px) {
    .C_our_benefit_img {
        width: 250px;
        height: 250px;
    }

    .C_Header_Title {
        letter-spacing: 15px;
    }
}